body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  height: 200px;
  width: 300px;
}

.container {
  width: fit-content;
  border: solid 10px;
  border-image: linear-gradient(45deg, red, greenyellow, lightblue, orange, red)
    1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputField {
  display: flex;
  align-items: flex-start;
  box-sizing: content-box;
  margin: 15px;
}

.inputField h3 {
  text-decoration: none;
  font-weight: 500;
  margin: 5px 10px;
}

.inputField input {
  padding: 5px 10px;
  align-self: center;
}

button{
  border: solid 2px;
  border-image: linear-gradient(45deg, red, greenyellow, lightblue, orange, red)
    1;
  height: 40px;
  width: 120px;
  margin-top: 15px;
  color: black;
  transition: 0.1s ease-in;
}

button:hover {
  color: white;
  box-shadow: inset -4.5em 0 0 0 #ec4f76, inset 4.5em 0 0 0 #ec4f76;
}
